<body>
  <div>
    <h1>Syder Ideas DB</h1>
    <form method="POST" action="/create">
      <input type="text" name="category" placeholder="Enter the category">
      <input type="text" name="name" placeholder="Enter the name">
      <input type="text" name="description" placeholder="Enter the description">
      <input type="text" name="target" placeholder="Enter the target">
      <button>Create Idea</button>
    </form>
  </div>
</body>